<div class="center hero-unit">
<h1>Location</h1>
<p>Le Salon d'esthetique est situe au 327 rue Vallee, Sainte-Anne-de-Bellevue H9X3W3</p>
<img src="/map_to_salon.png" alt="carte du salon" class="img-rounded">
</div>
