<div class="center hero-unit">
  <h1>Esthetique Mayria</h1>

  <h2>
    Bienvenue chez Esthetique Mayria
    Salon d'esthetique situe a Ste-Anne-de-Bellevue dans l'ouest de l'ile de Montreal.
  </h2>

</div>

<p> fait par Vincent Gosselin, 2016 Copyright. </p>



